.footer-web__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.footer-web__item {

  svg{
  color: $color-white;
  }

  a:hover svg {
    color: $color-green-hover;
  }
}