.touch__box {
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  padding-top: 24px;
  padding-bottom: 32px;
}

.touch__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  font-family: $font-ibarra;
  color: $color-black;
  margin: 0;
}

.touch__text {
  font-size: 15px;
  line-height: 30px;
  font-family: $font-public;
  color: $color-black;
  opacity: 0.8;
  margin-top: 24px;
  margin-bottom: 24px;
}


.touch__button {
  padding: 17px 24px;
  background-color: $color-dark-blue;
  border: 1px solid transparent;
  color: $color-white;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $font-public;

  &:hover {
    background-color: transparent;
    border-color: $font-public;
    color: $font-public;
  }

}

.footer-web__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.touch__item {
 
  svg {
    color: $color-black;
  }

}

.footer-web__item {

  a:hover svg {
    color: $color-green-hover;
  }
}

@media screen and (min-width: 700px) {

  .touch__box {
    margin-top: 50px;
  }

  .touch__list {
    margin-left: 0;
  }

}

@media screen and (min-width: 1000px) {

  .touch__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .touch-contact__box {
    width: 60%;
  }

  .touch__text {
    margin: 0 0 24px;
  }

  .touch__box {
    padding-top: 50px;
  }

  .touch__title {
    width: 350px;
  }

}